body{
    color: #686868;
}

.carousel-caption {
    background: #012d5a;
    background: rgba(1, 45, 90, 0.75);
    text-align:right;
}

.carousel-caption h4{
    text-transform: uppercase;-
}


.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12{
    /*border: 1px solid #000000;*/
}

.menu-opcao-nao-selecionada a{
    color: #888;
}

#cabecalho {
    height:89px;
    background-image:url('/img/bg-cabecalho.png');
    background-repeat: repeat-x;

}

#logo-cabecalho {
    margin-left:55px;
}

#container-menu{
    padding-top:25px;
}

#filete-abertura-conteudo {
    background-image:url(/img/pages/index/filete-sobre-banner-principal.png);
    height:24px;
    background-repeat: repeat-x;
}

#conteudo {
    width: 938px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    font-size: 12px;
}

#contato-header{
    text-align: right;
    vertical-align: middle;
    height:48px;
    padding-top:8px;
    font-size: 12px;
}
#espacamento-esquerda-meio-conteudo, #espacamento-direita-meio-conteudo{
    margin-left: 19px;
}

#rodape {
    background-image: url('/img/rodape.png');
    height: 57px;
    margin-bottom:60px;
    text-align: center;
    padding-top: 90px;
}

.container-conteudo-geral {
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    padding: 25px;
    width:728px;
    background-color: #ececec;
}

h3 {
    text-transform: uppercase;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #006288;
}

#container-conteudo-bg-branco {
    padding: 25px;
    width:678px;
    background-color: #ffffff;
    position: relative;
    float: left;
}