#container-imagem-contato{
    position: relative;
    float: left;
}

#container-dados-contato {
    position: relative;
    float: right;
    text-align: right;
}

#dados-contato {
    margin-top: 56px;
    font-size: 14px;
}

#dados-contato ul{
    list-style-type: none;
}
