.item-link-areas {
    position: relative;
    float: left;
    margin-right: 17px;
}

#item-link-areas-contato {
    margin-right:0;
}

#links-areas {
    margin-top: -8px;
}

#diferenciais-panatron {
    color: #2d5076;
    background-color: #f0f0f0;
    padding-top: 25px;
    margin-top: 14px;
    border-radius: 15px 15px 0 0;
}

#diferenciais-panatron b {
    text-transform: uppercase;
    color: #f68121;
}

.coluna-diferenciais-panatron {
    position: relative;
    float: left;
    width:340px;
    margin: 0 25px 0 25px;
}

.item-diferencial-panatron {
    clear:both;
    position:relative;
    float:left;
    margin-bottom:15px;
}

.icone-diferencial-panatron {
    width:60px;
    position:relative;
    float:left;
    margin-right:10px;
}

.texto-diferencial-panatron {
    width:270px;
    position:relative;
    float:left;
}