#container-selo-35-anos {
    position:relative;
    float:left;
    margin-top: -41px;
    margin-left: 101px;
}

#container-imagem-construcao {
    position:relative;
    float:left;
}

.texto-quem-somos {
    clear: both;
    padding-top: 30px;
}
