.container-servicos {
    width: 100%;
    position: relative;
    float: left;
}

.container-carrossel {
    width:340px;
    position: relative;
    float: left;
}

.carrossel {
    position:relative;
    float: left;
}

.container-dados-servico {
    position: relative;
    float: left;
    text-align: left;
    width:320px;
    margin-bottom: 40px;
}

.container-conteudo-geral{
    background-color: #ececec;
}

.dados-servico {
    margin-top: 10px;
    list-style: none;
    font-size: 14px;
}